extends layout

mixin component(name)
	li= name

block header
	.return
		a(href='index.html')
			i.fa.fa-arrow-left
	.title
		h1 Nowy przepis
	.extra-space

block content
	form#new-recipe
		label(for='name') Nazwa
		input#name
		label(for='description') Opis
		textarea#description
		button Dodaj przepis

block scripts
	script(src='scripts/add.js')