extends layout

mixin component(name)
	li= name

block header
	.return
		a(href='index.html')
			i.fa.fa-arrow-left
	.title
		h1 Przepis
	.extra-space

block content
	h2
	//h3 Składniki
	//ul
	//	+component('1 kg mąki')
	//	+component('100 g drożdży')
	//	+component('500 ml mleka')
	//	+component('3 jajka')
	//	+component('1 i 1/4 szkl cukru')
	//	+component('125 g margaryny')
	//	+component('1/4 szklanki oleju')
	//h3 Przygotowanie
	.description

block scripts
	script(src='scripts/plugins/markdown.js')
	script(src='scripts/details.js')
