extends layout

block header
	.return
		a(href='index.html')
			i.fa.fa-arrow-left
	.title
		h1 Przepis
	.extra-space

block content
	.title
		h2
		a.edit(href='edit.html')
			i.fa.fa-pencil
	.description

block scripts
	script(src='scripts/plugins/markdown.js')
	script(src='scripts/details.js')
