extends layout

block styles
	link(href='styles/plugins/simplemde.min.css' rel='stylesheet' type='text/css')

block header
	.return
		a.back(href='')
			i.fa.fa-arrow-left
	.title
		h1 Edytuj przepis
	.extra-space

block content
	form#edit-recipe
		label(for='name') Nazwa
		input#name
		label(for='description') Opis
		textarea#description
		button Edytuj przepis

block scripts
	script(src='scripts/plugins/simplemde.min.js')
	script(src='scripts/edit.js')
