extends layout

block header
	.extra-space
	.title
		h1 Jishui
	.add
		a(href='add.html')
			i.fa.fa-plus

block content
	#elements

	include partials/_popups

	#templates(style='display: none;')
		#list-element-template.element
			a.name(href='')
			a.delete(href='')
				i.fa.fa-trash-o

block scripts
	script(src='scripts/index.js')
