#delete-popup.overlay
	.popup
		h2 Usuwanie przepisu
		p Czy na pewno chcesz usunąć ten przepis?
		.buttons
			button.success(onclick='deleteRecipe()') tak
			button.danger(onclick='closePopup()') nie
